@-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}
@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

body #scene {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: left;
  justify-content: left;
  width: 80vw;
  height: 400px;
  position: relative;
  margin: auto;
  background-color: #eee;
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.2), 2px 4px 14px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
body #scene #left-zone {
  background: #eee;
  height: 75%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 25vw;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: left;
  justify-content: left;
}
body #scene #left-zone .list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
body #scene #left-zone .list li.item input[type="radio"] {
  display: none;
}
body #scene #left-zone .list li.item input[type="radio"] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
body #scene #left-zone .list li.item input[type="radio"] ~ label:first-letter {
  text-transform: uppercase;
}
body #scene #left-zone .list li.item input[type="radio"] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ label.label_strawberry:before {
  content: " ";
  display: block;
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  margin-left: 4vw;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ label.label_banana:before {
  content: " ";
  display: block;
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  margin-left: 4vw;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ label.label_apple:before {
  content: " ";
  display: block;
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  margin-left: 4vw;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ label.label_orange:before {
  content: " ";
  display: block;
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  margin-left: 4vw;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content {
  position: absolute;
  left: 25vw;
  top: -400px;
  width: 50vw;
  height: 400px;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content.content_strawberry
  .picto {
  height: 6vw;
  width: 6vw;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content.content_strawberry
  h1 {
  color: darkcyan;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content.content_banana
  .picto {
  height: 6vw;
  width: 6vw;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content.content_banana
  h1 {
  color: #f5d76e;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content.content_apple
  .picto {
  height: 6vw;
  width: 6vw;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content.content_apple
  h1 {
  color: #00b16a;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content.content_orange
  .picto {
  height: 6vw;
  width: 6vw;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content.content_orange
  h1 {
  color: darkcyan;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]
  ~ .content
  h1:first-letter {
  text-transform: uppercase;
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content p {
  max-width: 50%;
  text-align: center;
}
body #scene #left-zone .list li.item input[type="radio"]:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]:checked
  ~ label.label_strawberry {
  color: darkcyan;
  border-right: solid 4px darkcyan;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]:checked
  ~ label.label_banana {
  color: darkcyan;
  border-right: solid 4px darkcyan;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]:checked
  ~ label.label_apple {
  color: darkcyan;
  border-right: solid 4px darkcyan;
}
body
  #scene
  #left-zone
  .list
  li.item
  input[type="radio"]:checked
  ~ label.label_orange {
  color: darkcyan;
  border-right: solid 4px darkcyan;
}
body #scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body #scene #middle-border {
  background-color: #a7a0a0;
  height: 50%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 4px;
  z-index: 0;
}
body #scene #right-zone {
  background: #fff;
  height: 100%;
  -webkit-box-flex: 3;
  flex-grow: 3;
}
